.form-container {
  align-items: center;
  background-color: rgb(98, 165, 126);
  display: flex;
}

.itens-wallet {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 12px;
  height: 80px;
}

button {
  border: 2px solid black;
  border-radius: 4px;
  cursor: pointer;
  font: inherit;
  font-size: 14px;
  font-weight: 600;
  padding: 6px 20px;
}
